<IfModule mod_rewrite.c>  
  Options +FollowSymLinks  
  IndexIgnore */*  
  RewriteEngine on  
  # if a directory or a file exists, use it directly  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # otherwise forward it to index.php  
  RewriteRule . index.php  
  # 设置不能执行php权限的目录
  RewriteRule assets/(.*).(php)$ – [F]  
  RewriteRule data/(.*).(php)$ – [F] 
  RewriteRule framework/(.*).(php)$ – [F]
  RewriteRule requirements/(.*).(php)$ – [F]
  RewriteRule static/(.*).(php)$ – [F] 
  RewriteRule themes/(.*).(php)$ – [F]
  RewriteRule uploads/(.*).(php)$ – [F] 
</IfModule>  