body { margin: 0; padding: 0; overflow: hidden; min-width: 950px; }
/*定义新型浏览器特性*/
::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:black}
::-webkit-scrollbar-track-piece{background:#FFF}
::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:2px;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
::-webkit-scrollbar-corner:vertical{background-color:#535353}
::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
.header { width: 100%; height: 90px; display: inline-block; background-color:#428BCA; }
.header .logo { width: 160px; height: 90px; background: url(../images/logo.png) center center no-repeat; text-indent: -9999px; float: left; }
.header .nav { float: left; }
.header .nav ul,
.header .nav ul li { margin: 0; padding: 0; list-style: none; }
.header .nav ul { margin-top: 59px; height: 36px; line-height: 36px; margin-left: -1px; *display:inline;
zoom: 1; }
.header .nav ul li {font-size: 14px; height: 36px; line-height: 36px; float: left; text-align: center; margin: 0 3px 0 0; border-radius: 5px; }
.header .nav ul li a { display: block; padding: 0 15px; color: #EEEEEE; text-decoration: none; font-weight: bold; background-image: url(about:blank);  border-radius: 5px;}
.header .nav ul li a:hover,
.header .nav ul li.active,
.header .nav ul li.active div,
.header .nav ul li.active a { background-color: #FFFFFF; }
.header .nav ul li.active { background-position: 0 -36px; background-repeat: repeat-x; overflow: hidden; }
.header .nav ul li.active a, .header .nav ul li a:hover { background-position: 100% -72px; color: #000000; }
.header .logininfo { float: right; height: 32px; line-height: 32px; color: #fff; margin: 10px 10px 0 0; font-size: 12px; color:#FFFFFF;}
.header .logininfo em { font-style: normal; }
.header .logininfo a { color: #FFFFFF; text-decoration: none; }
.header .logininfo span.welcome { font-weight: bold; }
.loginmain { margin: 100px 0; }
.main { width: 100%; min-height: 200px; display: inline-block; }
.main .mainA { width: 159px; height: 100%; font-size: 12px; float: left; border-right: 1px solid #E2E2E2; background:#DDDDDD; }
.main .mainB { height: 100%; float: left; }
.main .mainC,
.main .mainD { float: left; padding: 30px 0; }
.main .mainC { width: 60%; text-align: left; }
.main .mainC h1,
.main .mainC p { width: 340px; float: right; margin-right: 20px; clear: both; zoom: 1; _display: inline; font-family: Arial; }
.main .mainC h1 { text-align: center; margin: 0; font-size: 18px; color: #666; _margin-bottom:10px;
}
.main .mainC p { text-indent: 24px; font-size: 12px; line-height: 24px; color: #666; }
.main .mainD { width: 39%; border-left: 1px solid #DFDFDF; font-size: 12px; }
.main .mainD th { font-weight: normal; white-space: pre; text-align: right; padding-right: 10px; }
.menu ul { margin: 0; padding: 0; list-style: none; }
.menu ul li { height: 30px; line-height: 30px; margin: 0 0 5px; padding: 0; text-align: left; }
.menu ul li a { color: #333300; display: block; height: 30px; line-height: 30px; font-size: 12px; text-decoration: none; text-indent: 28px; }
.menu ul li a:hover { background: #DCE0E1; text-decoration: none; font-weight: bold; }
.menu ul li.active a { background: #996600; color: #FFF; font-weight: bold; }
.txt { border: 1px solid; border-color: #666 #ccc #ccc #666; outline: none; padding: 4px 5px; width: 150px; }
.txt:hover { border-color: #09c; background: #F5F9FD; }
.btn { border: 1px solid #09c; background: #64C3E9; color: #fff; padding: 5px 30px; padding: 8px 30px 3px\9; *padding:6px 15px 2px;
cursor: pointer; border-radius: 3px; background: -moz-linear-gradient(center top, #64C3E9, #41A0D6); background: -webkit-gradient(linear, left top, left bottom, from(#64C3E9), to(#41A0D6)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#64C3E9', endColorstr='#41A0D6') progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#0099cc', strength=0);
border: none\9; }
.btn:hover { background: #41A0D6; background: -moz-linear-gradient(center top, #74CCF3, #6AAEEC); background: -webkit-gradient(linear, left top, left bottom, from(#74CCF3), to(#6AAEEC)); }
.copyright { clear: both; text-align: center; font-family: Arial; font-size: 12px; }
#loginform { position: relative; }
#loginform .msg { position: absolute; top: -40px; color: #f50; margin: 0 20px; width: 250px; line-height: 20px; }
#loginform span { position: relative; display: inline-block; line-height: 0; }
#loginform span img { visibility: hidden; cursor: pointer; position: absolute; top: 0; left: 100%; margin-left: 2px; }
.topline { width: auto; height: 3px; border-right: 0; background: #DDDDDD; }

/*重写样式*/
html,
body { _display: block; _height: 100%; }
