@charset "utf-8";
/*全局控制*/
body { margin: 0; padding: 0; font-size: 12px; font-family: 'microsoft yahei', Verdana, "宋体"; background: url(bg_body.png) repeat-x; overflow-y: scroll; *overflow-y:hidden;
}
html, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, p { margin: 0; padding: 0; }
input, select { font-size: 14px; font-family:'microsoft yahei', Arial; }
a {text-decoration: none; color:#FFFFFF;}
/*页脚区域*/
.footer { padding: 30px 0 30px 0; text-align: center; font-size: 14px; color:#FFFFFF; }


//新版安装界面
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0px; margin:0px;}
fieldset, img{border:0;}
ol, ul{list-style: none;}
.clr:after{content:" "; display:block; height:0px; clear:both; visibility:hidden;}.clr{display:inline-block;}* html .clr{height:0%;}.clr{display:block;}
.col{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle;}
.wrap{overflow:hidden; *display:inline-block;}.wrap{*display:block;}
.l{ float:left;}.r{ float:right;}
h1{font-size:34px;}h2{font-size:26px;}h3{font-size:18px; }h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}h1,h2,h3{font-family:microsoft yahei,simhei;}
table{border-collapse:collapse;border-spacing:0;}

body{background:url(i_body_bg.jpg) repeat-x #006295;}
.body_box{background:url(i_bodyb_bg.jpg) repeat-x 0% 100%; padding-bottom:28px;}
.main_box{width:1000px; margin:0px auto;}
.hd{height:288px; overflow:hidden; background:url(i_hd_bg.jpg) no-repeat; position:relative;}

.ct{ margin:10px 0px; background-color:#117CB9;}
.ct .l{ background:url(i_c_icon.jpg) no-repeat; width:231px; height:200px; margin:20px 40px 20px 20px;}
.ct .ct_box{color:#fff; float:left; width:660px; font-size:12px; line-height:24px; min-height:300px;margin:20px 0; overflow: hidden;border:1px solid #67ABD2;}
.ct .i6v{_overflow-y:visible;}
.ct .bg_t{background:url(i_c_tbg.gif) no-repeat; height:8px;}
.ct .bg_b{background:url(i_c_bbg.gif) no-repeat 0% 100%; height:8px;}
.nr{height:300px; margin:0px 20px;}
.ct .ct_box_no{color:#fff; float:left; width:660px; font-size:12px; line-height:30px; height:300px; overflow:hidden;margin:20px 0px;}
.ct .ct_box_no .nr{line-height:23px;}
.btn_box{text-align:center; margin-top:20px;}
.btn_box a{background:url(i_t_btn.jpg) no-repeat; display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle; blr:expression(this.onFocus=this.blur()); outline:none;}
.btn_box a:hover{font-size:18px;}
a.is_btn{blr:expression(this.onFocus=this.blur()); outline:none; width:140px; height:65px; background-position:-111px 0px; margin:0px 10px;line-height:40px;color:#FFF; font-size:16px; font-weight:bold; text-decoration:none;}
a.s_btn,a.x_btn{background-position:0px 0px; width:100px; height:65px; line-height:40px; font-size:16px; font-weight:bold; text-decoration:none;color:#FFF;margin:0px 4px;}
a.pre{color:#CCC;}
a.pre:hover{color:#fff;}

.bz{background:url(i_loadin.jpg) no-repeat; width:1000px; height:114px; position:absolute; bottom:1px;}
.bz .jj_bg{ background:url(jj_bg.jpg) no-repeat 100% 0px; width:23px; height:8px; position:absolute;right:0;top:49px;}
.hd .a1{width:160px;}.hd .a2{width:308px;}.hd .a3{width:420px;}.hd .a4{width:564px;}.hd .a5{width:680px;}.hd .a6{width:824px;}.hd .a7{width:1000px;}
.a7 .jj_bg{display:none;}
.nobrd{border:none!important;}
.nobrd .nr{height:auto;}

.table_list{width:100%;}
.table_list th,.table_list td{border:1px solid #67ABD2;padding:10px; text-align:center;}
.table_list th{font-size:14px;}
.table_list th.col1{width:120px;}
.table_list th.col2{width:140px;}
.table_list th.col3{width:100px;}
.table_list th.col4{width:60px;}
.table_list .yellow{display:block;font-size:26px;font-weight:bold;margin-top:1px;color:#ADFF2F;}
.table_list .red{color:yellow;}
.ct .rd {overflow:hidden;}

.ct .bord{ border:none}

body fieldset{border:1px solid #67ABD2; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700; color:#fff; font-size:14px}
body fieldset label{vertical-align:middle; line-height:24px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; width:20%}
body fieldset label input{ margin-right:6px}
body fieldset table th{ font-weight:normal; line-height:28px}
.input-text{ border:1px solid #5eb0de; background-color:#3399d3; padding:2px 5px; color:#fff}

.gxwc{background:url(i_ok.jpg) no-repeat 0px 0px; height:67px; line-height:67px; padding-left:80px; margin:20px auto; width:340px;}

.set7s .nr{height:auto;}
.set7s .gxwc{margin-top:20px; color:#D1F368;}
.clj{margin:0 auto;text-align:left;width:200px;}
.clj a{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle; margin:10px; padding-left:36px; height:37px; line-height:37px; color:#fff; font-weight:bold;}
.clj .zdsy{background:url(i_index.gif) no-repeat 0px 50%;}
.clj .htgl{background:url(i_mng.gif) no-repeat 0px 50%;}
.h65{height:65px;}
.txt_c{ color:PaleGreen;margin-top:40px;}
.d_n{display:none;color:#fff; padding:10px; background-color:#67ABD2;}
.d_n input{margin-left:14px;}
.w260{width:240px;}
#sso_urlTip{color:yellow;}
#sso_cfg .onCorrect{color:GreenYellow;}
.err_info{color:Yellow;padding-left:80px; line-height:30px; width:300px; margin:50px auto 0px; background:url(i_gth.jpg) no-repeat 0% 50%;}
.err_info span{color:#fff;}
#installmessage{ height:260px; padding:20px; line-height:24px; overflow:auto; font-size: 14px}

.ct .stop { border:none; padding:20px; font-size:14px; line-height: 26px;}
.ct .stop .red { color:#F88;}
.ct .stop a { color: #D1F368;}
