@CHARSET "UTF-8";

#main { width:1170px; margin:0 auto; margin-top:67px;}
.page_left { float:left; width:auto;}
.page_right { float:right; width:68%;}
a { color:#555555; }

#bread_crumbs { margin:0; }
.page_right .crumb_box { width:auto;}

.page_left dt {
    background-color: #428bca;    
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
}
.page_left dd {    
	border:1px dotted #DDDDDD;
	padding:10px 16px;
	margin-bottom:10px;     
}
.page_left dd.selected { background-color:#e8645a;}
.page_left dd.selected a{ color:#FFFFFF;}

