@CHARSET "UTF-8";

* { text-align:left;}
#notice_box { padding:30px 0; margin:0 auto; text-align:center;}
#notice_box a { color:#e8645a; }
.comments h3 { line-height:40px; font-size:16px; color:#F00;}
.comments li { border-bottom:1px solid #e5e6e6; padding-bottom:19px; margin-bottom:19px; }
.comments .avatar { float:left; border-radius:25px;}
.comment_desc { float:left; width:90%; margin-left:10px; }
.comment_desc .desc_head { line-height:28px;}
.comment_desc .desc_head .user { font-size:14px;}
.comment_desc .desc_head .submit_time { padding-left:10px; font-size:14px;}
.desc_foot { padding-top:20px;}
.desc_foot .reply_btn { float:left; width:100%;}
#comment_form { padding:20px 0;}
#comment_form caption { line-height:33px;}
#comment_form th { padding-right:20px; font-weight:bold; font-size:14px;}
#comment_form input { padding-left:5px; border:1px solid #CCCCCC;}
#comment_form input[type="text"]:focus{ box-shadow:none;}
#comment_form textarea {  border-left:1px solid #666666; border-top:1px solid #666666; min-width:560px; max-width:560px; min-height:140px; max-height:140px; padding:10px; background-color:#e5e6e6;}

#Comment_verifyCode { width:100px; border:1px solid #555555;}
#comment_form .submit {
	display:block;
	width:60px; 
	border:none;	
	cursor:pointer;
	border-radius:5px; background-color:#e8645a;
	-webkit-box-shadow:0 5px 0 #e2534b;
	-moz-box-shadow: 0 5px 0 #e2534b;
	box-shadow: 0 5px 0 #e2534b;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#e2534b', Direction=-180, Strength=5);
	text-decoration:none;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;	
}
.comments a { color:#428BCA;}
.login_notice { display:none; margin-left:20px; padding-left:20px; background:url(../images/ico_notice.png) no-repeat; color:#666666;}
.login_notice a { color:#e8645a; }
#comment_form .error_message { width:200; height:auto; margin-left:10px; margin-top:-67px; padding:60px; background:#FFFFFF url(../images/bubble_bg.png) left 0 no-repeat; border:none;}
#comment_form .errorSummary { height:60px; }
.error_message ul { list-style:decimal inside; }
#comment_form .subBox{ padding:0 5px;  position:relative; bottom:33px;}

/* 回复区域 */
#reply_box { display:none; float:left; height:200px; margin-top:10px;}
.reply_sumbit_box { width:100%; position:relative; text-align:right;  bottom:36px;}
#reply_submit { width:60px; font-size:14px; line-height:35px; height:35px; text-align:center; border-left:1px solid #CCCCCC; cursor:pointer;}

/* 回复列表 */
.reply_list { padding:10px 0; padding-left:40px; margin-top:10px; border:1px solid #DDDDDD; }
.reply_list li { margin-bottom:5px; padding-bottom:5px;}
.reply_list .avatar { margin-top:4px; margin-right:4px;}
.reply_list .desc_head .user { font-size:12px;}
.reply_list .desc_body { padding-left:20px;}
.reply_list .position { float:right; color:#F00; }
.reply_list .desc_foot { padding-left:20px; padding-top:10px;}
.reply_list .desc_head .submit_time { padding-left:10px; font-size:12px;}