@CHARSET "UTF-8";

.banner { width:1170px; margin:0 auto; display:block;}

#slide { height:500px; width:100%; overflow:hidden; background-color:#7f8c8c; position:relative; }
#slide .slide_btn { position:absolute; top:220px; width:50px; height:60px; z-index:99; background:url(../images/slide_left.png) no-repeat left center;}
#slide .slide_image {  height:500px; position:absolute; width:600%; }
#slide .slide_image li { width:1440px; float:left; }
#slide .slide_left { left:0;}
#slide .slide_right { right:0; background-image:url(../images/slide_right.png); }
#slide_change { display:inline-block; padding:22px 0; }
#slide_change li { float:left; width:80px; }
#slide_change li a { display:inline-block; width:60px; height:6px; margin:0 auto; background-color:#b0b8b9; }
#slide_change li a.select { background-color:#e2534b; }

#intro, #section, #clients { width:1170px; margin:0 auto; }
#intro { padding-bottom:25px;}
#intro h1 { font-size:30px; color:#7f8c8c; }
#intro .intro_title { padding:24px 35px 24px 27px; text-align:left;}
#intro .intro_desc { font-size:16px; font-weight:bold; padding-top:20px;}
#intro .view_more { 
	float:right;
	width:200px;
	height:54px;
	line-height:54px;		
	border-radius:5px; background-color:#e8645a;
	-webkit-box-shadow:0 5px 0 #e2534b;
	-moz-box-shadow: 0 5px 0 #e2534b;
	box-shadow: 0 5px 0 #e2534b;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#e2534b', Direction=-180, Strength=5);
	text-decoration:none;
	font-size:24px;
	color:#FFFFFF;
	text-align:center;
}
#intro ul { margin-top:50px; }
#intro ul li { float:left; width:270px; height:314px; margin-right:26px; border:1px solid #DDDDDD; border-radius:5px; text-align:center;}
#intro ul li h2 {color:#000000;}
#intro ul li.last { margin-right:0;}
#intro ul li .ico_one { width:60px; height:60px; margin:0 auto; margin-top:50px; background:url(../images/ico_hander.png) no-repeat center center;}
#intro ul li .ico_two { background-image:url(../images/ico_key.png);}
#intro ul li .ico_three { background-image:url(../images/ico_flag.png);}
#intro ul li .ico_four { background-image:url(../images/ico_glass.png);}
#intro ul li p { height:112px; margin-top:15px; text-align:left; padding:0 35px; font-size:14px; line-height:28px;}
#intro ul li a {
	display:inline-block;	
	width:200px;
	height:54px;
	line-height:54px;
	position:relative;
	bottom:-24px;
	border-radius:5px; 
	background-color:#428BCA;	
	text-decoration:none;
	font-size:14px;
	color:#FFFFFF;
	text-align:center;	
}
#intro ul li a:hover {	
	background-color:#e8645a;	
}


/* 中部banner */
.index_mid_banner { margin-top:50px;}

/* 标签切换 */
.tab_container {width:1170px; margin:0 auto; margin-top:30px; }
.etabs { border-bottom:1px solid #428bca; }
.tab { display: inline-block; zoom:1; *display:inline; width:100px; background-color:#428bca; border: solid 1px #428bca; border-bottom: none; border-radius:4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2.5em; display: block; padding: 0 10px; text-align:center; color:#FFFFFF;} 
.tab.active { background-color: #FFFFFF; position: relative; top: 1px; }
.tab a.active { font-weight: bold; color:#555555; padding-top:1px;} 
.panel_container { border:1px solid #428bca; border-top:none; border-radius:0 0 5px 5px;}

.tab_post { padding:20px 0 20px 20px;}
.tab_post li { float:left; width:280px; line-height:30px;}
.tab_post li a { display:block; color:#555555;}
.tab_post li a:hover {  text-decoration:underline; color:#111111;}

.tab_image { padding:20px 9px 10px 9px;}
.tab_image li { float:left; border:1px solid #DDDDDD; text-align:center; padding:5px; margin-right:8px; margin-bottom:8px; overflow:hidden;}
.tab_image li a { display:block; position:relative;}
.tab_image li .black_bg { display:block; width:100%; position:absolute; bottom:0; visibility:hidden; height:30px; line-height:30px; background-color:#000000; opacity:0.5; filter:alpha(opacity=50); text-align:center;}
.tab_image li .black_bg span { color:#FFFFFF; position:absoute; z-index:2;}
.tab_image li a:hover .black_bg { visibility:visible; }

.tab_soft { padding:20px 0 20px 20px;}
.tab_soft li { float:left; width:100px; padding:5px 0 10px 0; border:1px solid #FFFFFF; text-align:center;}
.tab_soft li:hover { border:1px solid #CCCCCC; }
.tab_soft li a { display:block; color:#555555; }
.tab_soft li a.dl_btn { visibility:hidden; width:70px; height:25px; line-height:25px; background-color:#428bca; border-radius:3px; color:#FFFFFF; margin:0 auto;}
.tab_soft li:hover a.dl_btn { visibility:visible;}


.tab_video { padding:20px 0 20px 20px;}
.tab_video li { float:left; width:188px; overflow:hidden; margin-bottom:15px; text-align:center;}
.tab_video li a { display:block; width:150px; margin:0 auto; position:relative;}
.tab_video .video_title { line-height:28px; color:#555555;}
.tab_video .v_play_mask { background-color:#000000; display: block; height: 100%; left: 0; opacity: 0.5; filter:alpha(opacity=50); position: absolute; top: 0; visibility: hidden; width: 100%;}
.tab_video .v_play_icon { background: url(../images/play_normal.png) no-repeat;  display: block;
    height: 42px;  left: 50%; margin: -21px 0 0 -21px; position: absolute; top: 50%; visibility: hidden; width: 42px;}
.tab_video .video_a:hover .v_play_mask, .tab_video .video_a:hover .v_play_icon{ visibility: visible;}

.client_head li { float:left; line-height:35px; }
.client_head .client_title { font-size:16px; font-weight:bold; text-align:left;}
.client_head .client_line { margin-left:17px;}
.client_head .client_btn { float:right; }
.client_head .client_btn a { 
	float:left;
	margin-left:19px;
	width:40px; font-size:24px; font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
	border-radius:5px; 
	background-color:#98a3a3;
	-webkit-box-shadow:0 5px 0 #7f8c8c;
	-moz-box-shadow: 0 5px 0 #7f8c8c;
	box-shadow: 0 5px 0 #7f8c8c;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#7f8c8c', Direction=-180, Strength=5);
	text-align:center;
}
.client_head .client_btn a:hover { 
	background-color:#e2534b;
	-webkit-box-shadow:0 5px 0 #e2534b;
	-moz-box-shadow: 0 5px 0 #e2534b;
	box-shadow: 0 5px 0 #e2534b;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#e2534b', Direction=-180, Strength=5);
}
#clients { width:1170px; padding:20px 0;}
.client_body { margin-top:20px; }
.client_body li,.client_foot li { float:left; margin-right:20px;}
.client_body li { margin-bottom:20px;}
.client_body li a { display:block; border:1px solid #DDDDDD;}
.client_body li a:hover { border-color:#428bca; }
.client_foot li a { display:block; padding:6px 0; color:#555555; font-size:16px;}
.client_foot li a:hover { background-color:#666666; color:#FFFFFF; }




