@CHARSET "UTF-8";
/***
 * 手持设备样式表
 * @author Sim
 *
 */
html { font-size:100%;}
* { box-shadow:none!important; white-space:normal!important; }
@media (min-width: 480px) { body {font-size:1rem;} }
@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

/* 公共头部 */
#logo, #search { display:none;}
.header_main { width:100%; height:66px;}
#msbox { float:none; width:350px;}
#menu li { width:80px; height:33px; line-height:33px; margin:0; }
#menu li a { padding:4px 5px;  background:none; box-shadow:none;}
#menu li a:hover { background:none!important; box-shadow:none!important;}
#menu li.selected { border:none;}
#menu li.selected a{ 
box-shadow:none;
border-radius:5px; 
background:#e8645a;
}
#login, #logout { position:relative; top:-35px;}
#login a { box-shadow:none;}

/* 首页 */
#intro, #section { width:95%!important;}
.intro_box { margin-top:0px!important;}
.intro_box p { line-height:20px!important; margin:0!important;}
.banner{ display:none!important;}
#intro .ico_one { display:none!important;}
#intro .view_more { line-height:33px; height:33px; width:80px; font-size:1rem!important;}
#intro ul li { width:100%!important; height:110px!important; }
#intro ul li a { display:none!important;}
#intro .intro_box li { margin-bottom:5px!important;}
.tab_container { width:95%!important;}
.panel_container li { line-height:20px!important;}
.tab_image li a img { width:65px!important;}
.tab_soft li { width:80px!important;}
.tab_soft li a.dl_btn { visibility:visible!important;}
#clients { display:none!important;}

/* 面包屑 */
.crumb_box { width:95%!important; overflow:hidden;}
#bread_crumbs .crumb_menu { height:44px!important;}
#bread_crumbs .crumb_menu li { height:22px!important; line-height:22px!important; font-size:1em!important;}

/* 文章列表 */
#main { width:95%!important; margin:0 auto; margin-top:70px!important;}
#content { width:95%!important; margin:0 auto;}
#content .content_left, #content .content_right { float:none!important;}
@media screen and (max-width: 480px) { 
	.content_list { float:left: width:250px!important;}
}
@media screen and (max-width: 720px) { 
	.content_list { float:left; width:300px!important; } 

}

.content_list .list_head { padding:3px!important; width:50px!important; }
.content_list .list_body { float:left!important; padding-left:10px;width:70%!important;}
.content_list .list_body .view_info { padding:2px 0;}
.content_list .content_info { height:65px; overflow:hidden;}
.content_right { display:none;}

/* 详情页 */
#content , #content .content_left{ width:auto!important;}
#content .content_right { display:none!important;}

/* 单页 */
.page_left { width:95%!important;}
.page_right { width:95%!important; float:left;}

/* 公共底部 */
#footer .ft_header { display:none;}
#copyright div { width:100%!important;}
#copyright span { line-height:33px!important; }
#copyright .outer { float:left!important;}


 
 
