@CHARSET "UTF-8";

#clients,#content  { width:1170px; margin:0 auto; }
#content { text-align:left; margin-bottom:70px; }
.local_address { margin:60px 0; padding:28px 18px; background-color:#ececec;}
.contact_form { float:left; width:75%; }
.contact_form caption { margin-bottom:55px; font-size:20px; font-weight:bold; text-align:left; }
.contact_form tr { line-height:60px; }
.contact_form th { padding-right:20px; font-weight:bold; font-size:14px;}
.contact_form input { width:460px; padding:10px; border-left:1px solid #666666; border-top:1px solid #666666; border-radius:3px; background-color:#e5e6e6; }
.contact_form textarea { border-left:1px solid #666666; border-top:1px solid #666666; min-width:760px; max-width:760px; min-height:240px; max-height:240px; padding:10px; background-color:#e5e6e6;}
.contact_form .submit {
	display:block;
	width:200px; 
	height:54px;
	line-height:54px;
	margin-top:37px; 	
	border-radius:5px; background-color:#e8645a;
	-webkit-box-shadow:0 5px 0 #e2534b;
	-moz-box-shadow: 0 5px 0 #e2534b;
	box-shadow: 0 5px 0 #e2534b;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#e2534b', Direction=-180, Strength=5);
	text-decoration:none;
	font-size:24px;
	color:#FFFFFF;
	text-align:center;	
}
.contact_address { float:right; width:20%;}
.contact_address .address_title { margin-bottom:50px; font-size:16px; font-weight:bold;}
.contact_address .address_list li { line-height:38px; }






